<div class="background-container">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-header">
              <b>Login Here</b>
            </div>
            <div class="card-body">
              <form #formLogin="ngForm" (ngSubmit)="detailsCheck(formLogin)">
                <label>Username</label>
                <input type="email" placeholder="User name" class="form-control" name="username" #uname="ngModel" [(ngModel)]="username" required />
                <span class="error" *ngIf="uname.touched && uname.invalid">Username should not be blank</span>
                <br />
              
                <label>Password</label>
                <input type="password" placeholder="Password" class="form-control" name="password" #pwd="ngModel" [(ngModel)]="password" required />
                <span class="error" *ngIf="pwd.touched && pwd.invalid">Password Should not be blank</span>
                <br />
              
                <input type="submit" value="Login" class="btn btn-success" />
                <br />
              </form>
              
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
  