
<ul *ngIf="isAdmin" >
    <li>
      <a routerLink="home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="clientinfo" routerLinkActive="active">Client Info</a>
    </li>
    <li>
      <a routerLink="projectinfo" routerLinkActive="active">Project Info</a>
    </li>
    <li>
      <a routerLink="taskinfo" routerLinkActive="active">Task Info</a>
    </li>
    <li>
      <a routerLink="clientmeeting" routerLinkActive="active">Meeting Info</a>
    </li>
    <li>
      <a routerLink="login" routerLinkActive="active">Logout</a>
    </li>
</ul>

<ul *ngIf="isClient">
    <li>
      <a routerLink="projects" routerLinkActive="active">Project Details</a>
    </li>
    <li>
      <a routerLink="login" routerLinkActive="active">Logout</a>
    </li>
</ul>

<router-outlet></router-outlet>
