<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex flex-column h-100">
          <div class="card mb-4 flex-grow-1">
            <div class="card-body">
              <h5 class="card-title">Clients Info</h5>
              <p class="card-text">This feature allows you to store and manage information about your clients in a structured manner. You can include details such as client name, contact information, company details, communication history, and any other relevant information. Having this centralized database helps in efficiently accessing client information, maintaining relationships, and providing better customer service.</p>
              <button class="btn btn-primary" (click)="client()">Go to Clients Info</button>
            </div>
          </div>
          <div class="card mb-4 flex-grow-1">
            <div class="card-body">
              <h5 class="card-title">Projects Info</h5>
              <p class="card-text">With this feature, you can keep track of all your projects and their associated details. Each project entry may include information like project name, description, start and end dates, project manager, team members, milestones, and project status. It provides a comprehensive overview of all ongoing and completed projects, facilitating better project management, resource allocation, and progress tracking.</p>
              <button class="btn btn-primary" (click)="project()">Go to Projects Info</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-column h-100">
          <div class="card mb-4 flex-grow-1">
            <div class="card-body">
              <h5 class="card-title">Tasks</h5>
              <p class="card-text">This feature allows you to manage tasks related to different projects. Tasks can be assigned to team members, categorized by priority, tagged with labels, and scheduled with deadlines. Task management helps in organizing project work, ensuring accountability, and meeting project deadlines effectively.</p>
              <button class="btn btn-primary" (click)="task()">Go to Tasks</button>
            </div>
          </div>
          <div class="card mb-4 flex-grow-1">
            <div class="card-body">
              <h5 class="card-title">Meetings</h5>
              <p class="card-text">Meetings feature enables you to schedule and organize meetings with clients. You can set up meeting dates, times, locations, agenda items, and attendees. It may also include features for sending meeting invitations, tracking RSVPs, and recording meeting minutes. Efficient meeting management helps in coordinating with clients, discussing project updates, resolving issues, and ensuring smooth communication.</p>
              <button class="btn btn-primary" (click)="meeting()">Go to Meetings</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  